<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSSRelative}" />
</head>

<body class="grey lighten-3">

	<!--Main Navigation-->
	<header>

		<!-- Sidebar -->
		<div th:replace="~{includes/sideNav :: side(actual='profile')}"></div>
		<!-- Sidebar -->
		<!-- Navbar -->
		<nav th:replace="~{includes/searchNav :: search}"></nav>
		<!-- Navbar -->

	</header>
	<!--Main layout-->

	<main class="pt-2 mx-lg-5">
	<div class="container-fluid mt-5">
		<div class="card mb-4 wow fadeIn p-5">

			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" method="post"
						th:action="@{/user/edit}">
						<fieldset>
							<legend class="mb-5">Profil bearbeiten</legend>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<!-- Username -->
					<div class="form-group">
						<label for="inputUser" class="col-md-3 control-label">Username</label>
						<div class="col-md-10">
							<input type="text" id="username" class="form-control" required
								autofocus name="username" th:value="${user.userName}"
								th:readonly="true">
						</div>
					</div>



					<!-- First Name -->
					<div class="form-group">
						<label for="inputFirstName" class="col-md-3 control-label">
							First name </label>
						<div class="col-md-10">
							<input type="text" id="firstName" class="form-control" required
								name="firstName" th:value="${user.userProfile.firstName}">
						</div>
					</div>

					<!-- Surname -->
					<div class="form-group">
						<label for="inputSurName" class="col-md-3 control-label">Surname</label>
						<div class="col-md-10">
							<input type="text" id="surName" class="form-control" required
								name="surName" th:value="${user.userProfile.surName}">
						</div>
					</div>

					<!-- Day of Birth -->
					<div class="form-group">
						<label for="inputDayOfBirth" class="col-md-3 control-label">
							Day of birth </label>
						<div class="col-md-10">
							<input type="date" id="date" class="form-control" required
								name="date" th:value="${user.userProfile.dayOfBirth}">
						</div>
					</div>

					<!-- E-Mail -->
					<div class="form-group">
						<label for="inputEmail" class="col-md-3 control-label">E-Mail</label>
						<div class="col-md-10">
							<input type="email" id="email" class="form-control" required
								name="email" th:value="${user.userProfile.email}">
						</div>
					</div>

					<!-- Zip -->
					<div class="form-group">
						<label for="inputZip" class="col-md-3 control-label">ZIP</label>
						<div class="col-md-10">
							<input type="number" id="zip" class="form-control" required
								name="zip" th:value="${user.userProfile.zip}">
						</div>
					</div>
				</div>


				<div class="col-md-6">


					<!-- City -->
					<div class="form-group">
						<label for="inputUser" class="col-md-3 control-label">City</label>
						<div class="col-md-10">
							<input type="text" id="city" class="form-control" required
								name="city" th:value="${user.userProfile.city}">
						</div>
					</div>

					<!-- Address -->
					<div class="form-group">
						<label for="inputAddress" class="col-md-3 control-label">Address</label>
						<div class="col-md-10">
							<input type="text" id="address" class="form-control" required
								name="address" th:value="${user.userProfile.address}">
						</div>
					</div>

					<!-- Phone -->
					<div class="form-group">
						<label for="inputPhone" class="col-md-3 control-label">Phone</label>
						<div class="col-md-10">
							<input type="text" id="phone" class="form-control" required
								name="phone" th:value="${user.userProfile.phone}">
						</div>
					</div>
					<div class="pt-3">
						<h5>Passwort ändern:</h5>
					</div>
					<div class="card col-md-10 mb-4 mt-1 py-3"
						style="background-color: #e7f0fe">

						<!-- Password -->
						<div class="form-group">
							<label for="inputUser" class="col-md-8 control-label">Passwort:</label>
							<div class="col-md-12">
								<input type="password" id="password" class="form-control"
									name="password">
							</div>
						</div>

						<!-- Password wiederholen-->
						<div class="form-group">
							<label for="inputUser" class="col-md-8 control-label">Passwort
								bestätigen:</label>
							<div class="col-md-12">
								<input type="password" id="password2" class="form-control"
									name="password2">
							</div>
						</div>
					</div>
				</div>
			</div>

			<hr>
			<!-- --------------  buttons ---------------- -->
			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Speichern</button>
					<a href="petbook" class="btn btn-warning"> Abbrechen </a>
				</div>
			</div>
		</div>


		</fieldset>
		</form>
	</div>
	</main>
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>



