<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>Walkie-Doggie</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post"
					th:action="${animal} ? @{/editAnimal(id=${animal.id})} : @{/addAnimal}">
					<fieldset>
						<legend th:text="${animal}? 'Change Animal' : 'New Animal'">New
							Animal</legend>

						<!--  ----------------  id ---------------- -->
						<div class="form-group" th:if="${animal}">
							<label for="inputID" class="col-md-2 control-label">ID</label>
							<div class="col-md-10">
								<input class="form-control" id="inputID" type="text" name="id"
									th:value="${animal} ? ${animal.id}" th:readonly="${animal}">
							</div>
						</div>

						<!-- --------------  name ---------------- -->
						<div class="form-group">
							<label for="inputName" class="col-md-2 control-label">Name
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputName" type="text"
									name="name" th:value="${animal} ? ${animal.name}"
									required="required">
							</div>
						</div>

						<!-- --------------  breed ---------------- -->
						<div class="form-group">
							<label for="inputBreed" class="col-md-2 control-label">Breed
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputBreed" type="text"
									name="breed" th:value="${animal} ? ${animal.breed}"
									required="required">
							</div>
						</div>

						<!-- --------------  color ---------------- -->
						<div class="form-group">
							<label for="inputColor" class="col-md-2 control-label">Color
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputColor" type="text"
									name="color" th:value="${animal} ? ${animal.color}"
									required="required">
							</div>
						</div>

						<!-- --------------  age ---------------- -->
						<div class="form-group">
							<label for="inputAge" class="col-md-2 control-label">Age</label>
							<div class="col-md-10">
								<input class="form-control" id="inputAge" type="number" min="0"
									step="1" name="age" th:value="${animal} ? ${animal.age}"
									required="required">
							</div>
						</div>

						<!-- --------------  gender ---------------- -->
						<div class="form-group">
							<label for="inputGender" class="col-md-2 control-label">Gender
							</label>
							<div class="col-md-10">
								<select class="form-control" id="inputGender" name="gender">
									<option th:value="Männlich" th:text="Männlich"
										th:selected="${animal} ? ${animal.gender.equals('Männlich')}"></option>

									<option th:value="Weiblich" th:text="Weiblich"
										th:selected="${animal} ? ${animal.gender.equals('Weiblich')}"></option>
								</select>
							</div>
						</div>

						<!-- --------------  castrated ---------------- -->
						<div class="form-group">
							<label for="inputCastrated" class="col-md-2 control-label">Castrated</label>
							<div class="col-md-10">
								<input th:checked="${animal} ? ${animal.castrated}"
									type="checkbox" name="castrated" class="form-check-input"
									id="inputCastrated"> <input type="hidden" value="on"
									name="_castrated" />

							</div>
						</div>

						<!-- --------------  chipped ---------------- -->
						<div class="form-group">
							<label for="inputChipped" class="col-md-2 control-label">Chipped</label>
							<div class="col-md-10">
								<input th:checked="${animal} ? ${animal.chipped}"
									type="checkbox" name="chipped" class="form-check-input"
									id="inputChipped"> <input type="hidden" value="on"
									name="_chipped" />
							</div>
						</div>

						<!-- --------------  Description ---------------- -->
						<div class="form-group">
							<label for="inputDescription" class="col-md-2 control-label">Description
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputDescription" type="text"
									name="description" th:value="${animal} ? ${animal.description}"
									required="required">
							</div>
						</div>

						<!-- --------------  Species ---------------- -->
						<div class="form-group">
							<label for="inputSpecies" class="col-md-2 control-label">Species
							</label>
							<div class="col-md-10">
								<select class="form-control" id="inputSpecies" name="species">
									<option th:if="${animal}" th:each="specie : ${species}"
										th:value="${specie.id}" th:text="${specie.name}"
										th:selected="${specie.name.equals(animal.species.name)}"></option>
									<option th:if="${animal == null}" th:each="specie : ${species}"
										th:value="${specie.id}" th:text="${specie.name}"></option>
								</select>
							</div>
						</div>

						<!-- --------------  Compatibility ---------------- -->
						<div class="form-group">
							<label for="inputCompatibility" class="col-md-2 control-label">Compatibility
							</label>
							<div class="col-md-10">
								<select multiple="multiple" class="form-control"
									id="inputCompatibility" name="compatibility">
									<option th:each="ac : ${acs}" th:value="${ac.id}"
										th:text="${ac.name}"
										th:selected="${selectedAcs.contains(ac.id)}"></option>
								</select>
							</div>
						</div>

						<!-- --------------  Vaccination ---------------- -->
						<div class="form-group">
							<label for="inputVaccination" class="col-md-2 control-label">Vaccination
							</label>
							<div class="col-md-10">
								<select multiple="multiple" class="form-control"
									id="inputVaccination" name="vaccination">
									<option th:each="vaccination : ${vaccinations}"
										th:value="${vaccination.id}" th:text="${vaccination.name}"
										th:selected="${selectedV.contains(vaccination.id)}"></option>
								</select>
							</div>
						</div>


						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="petbook" class="btn btn-default"> Cancel </a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</body>

</html>