<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="row">
		<div class="col-md-6 offset-md-3 mt-5">
			<div class="card">
				<div class="card-body">

					<h1 style="color: #0066ff;">Error</h1>
					<hr>
					<b>Exception:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.exception')}"></span><br />
					<br /> <b>Status Code:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.status_code')}"></span><br />
					<br /> <b>Request-URI:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"></span><br />
					<br /> <b>Servlet Name:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.servlet_name')}"></span><br />
					<br />
					<hr>
					<a href="./" class="btn btn-primary">zurück</a>

				</div>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />

</body>
</html>
