<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css"
	rel="stylesheet">
<link href="resources/css/style.min.css" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="col-md-6 offset-md-3 mt-5">
			<div class="card">
				<div class="card-body">

					<h1 style="color: #0066ff;">Error</h1>
					<hr>
					<b>Exception:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.exception')}"></span><br />
					<br /> <b>Status Code:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.status_code')}"></span><br />
					<br /> <b>Request-URI:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"></span><br />
					<br /> <b>Servlet Name:</b> <span
						th:text="${#request.getAttribute('javax.servlet.error.servlet_name')}"></span><br />
					<br />
					<hr>
					<a th:href="@{/}" class="btn btn-primary">zurück</a>

				</div>
			</div>
		</div>
	</div>


</body>
</html>

