<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>Default Index</h1>
		</div>
		
		<a th:href="@{/animal/petbook}" class="btn btn-danger">Petbook</a>
		<a th:href="@{/fill}" class="btn btn-danger">Fill </a>
		<a th:href="@{/user/profile}" class="btn btn-danger">Profile </a>
		<a th:href="@{/logout}" class="btn btn-danger">Logout </a>
		
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>
