<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body class="grey lighten-3">
	<main class="mt-5">
	<div class="container-fluid">
		<div class="row col-md-9 mb-4">
			<div class="col-md-5 mb-4"
				style="display: block; margin-left: auto; margin-right: auto;">
				<div class="card">
					<div class="card-body">
						<form th:action="@{/login}" method="post">
							<p class="h4 text-center mt-4">
								<b>Login</b>
							</p>

							<!-- Material input username -->
							<div class="md-form">
								<i class="fa fa-user prefix grey-text"></i> <input type="text"
									id="username" class="form-control" name="username" required
									autofocus placeholder="Your username">
							</div>

							<!-- Material input password -->
							<div class="md-form">
								<i class="fa fa-lock prefix grey-text"></i> <input
									type="password" id="password" class="form-control"
									name="password" placeholder="Your password">
							</div>

							<div class="text-center mt-4">
								<button class="btn btn-info" type="submit">Login</button>
							</div>
							<hr>
							<p class="h6 text-center mt-4">
								Noch kein Konto?<br>Dann <b>registrieren</b> Sie sich!
							</p>
							<div class="text-center mt-4">
								<a th:href="@{/signUp}" class="btn btn-primary">Registrieren</a>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>
