<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>Petbook</h1>
		</div>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->
	</div>

	<a th:href="@{/addAnimal}" class="btn btn-danger">Add Animal </a>

	<!-- list all profiles -->

	<div th:each="animal : ${animals}">
		<p th:text="${animal.id}"></p>
		<a th:text="${animal.name}" th:href="@{/profil(id=${animal.id})}"></a>
		<p th:text="${animal.description}"></p>

		<p th:text="${animal.species.name}"></p>
		<p></p>
		<a th:href="@{/editAnimal(id=${animal.id})}" class="btn btn-danger">Edit
			Animal </a> <a th:href="@{/deleteAnimal(id=${animal.id})}"
			class="btn btn-danger">Delete Animal </a>
		<p></p>

	</div>

	<!-- end of profiles -->

	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>
