<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>Petbook</h1>
		</div>
		
		<!-- list all profiles -->
		
		<div th:each="animal : ${animals}">
		<p th:text="${animal.id}"></p>
		<a th:text="${animal.name}" th:href="@{/profil(id=${animal.id})}"></a>
		<p th:text="${animal.description}"></p>
		
		<p th:text="${animal.species.name}"></p>
		<p></p>
		
		</div>
		
		<!-- end of profiles -->
		
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>
