<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>Profil</h1>
		</div>
		
		<p th:text="${animal.id}"></p>
		<p th:text="${animal.name}"></p>
		<p th:text="${animal.breed}"></p>
		<p th:text="${animal.color}"></p>
		<p th:text="${animal.age}"></p>
		<p th:text="${animal.gender}"></p>
		<p th:text="${animal.castrated}"></p>
		<p th:text="${animal.description}"></p>
		<p th:text="${animal.species.name}"></p>
		<div th:each="vaccination : ${vaccinations}">
		<p th:text="${vaccination.name}"></p>
		
		</div>
		<div th:each="ac : ${acs}">
		<p th:text="${ac.compatibility.name}"></p>
		<p th:text="${ac.status}"></p>

		</div>
		
		
		</div>
		
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>
