<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body class="grey lighten-3">
	<div class="row center-block"
		style="margin-left: 4%; margin-right: 4%; padding-top: 4%; padding-bottom: 4%;">
		<div class="center-block col-md-8 mb-5">
			<div class="card" style="background-color: #4db8ff">
				<div class="card-body z-depth-2">
					<div class="card wow fadeIn p-5 center-block">

						<!--  Error message ----------------------------------------------------------- -->
						<div th:unless="${errorMessage} == null"
							th:utext="${errorMessage}" class="alert alert-danger"
							role="alert"></div>
						<!--  Error message ----------------------------------------------------------- -->

						<!--   message ----------------------------------------------------------- -->
						<div th:unless="${message} == null" th:utext="${message}"
							class="alert alert-success" role="warning"></div>
						<!--   message ----------------------------------------------------------- -->

						<div class="col-md-8 center-block">
							<div class="row">
								<form th:action="@{/signUp}" method="post">
									<a class="logo waves-effect"> <img src="resources/Bild.png"
										style="width: 100%; height: 100%;">
									</a>
									<hr>
									<p class="h2 text-center py-4">Registrierung</p>
									<br>
									<h7 style="color: #666666"> <i class="fa fa-user mr-2"
										aria-hidden="true"></i>Benutzername:</h7>
									<div class="form-group">
										<input type="text" id="username" class="form-control"
											name="username" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i class="fa fa-lock mr-2"
										aria-hidden="true"></i>Passwort:</h7>
									<div class="form-group">
										<input type="password" id="password" class="form-control"
											name="password" placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i
										class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Passwort
									bestätigen:</h7>
									<div class="form-group">
										<input type="password" id="password2" class="form-control"
											name="password2" placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i
										class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>Vorname:</h7>
									<div class="form-group">
										<input type="text" id="firstName" class="form-control"
											name="firstName" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i class="fa fa-pencil mr-2"
										aria-hidden="true"></i>Nachname:</h7>
									<div class="form-group">
										<input type="text" id="surName" class="form-control"
											name="surName" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i class="fa fa-calendar mr-2"
										aria-hidden="true"></i>Geburtsdatum:</h7>
									<div class="form-group">
										<input type="date" id="date" class="form-control" name="date"
											required autofocus placeholder="Geburtsdatum">
									</div>

									<h7 style="color: #666666"> <i
										class="fa fa-envelope-o mr-2" aria-hidden="true"></i>E-Mail:</h7>
									<div class="form-group">
										<input type="email" id="email" class="form-control"
											name="email" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i
										class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Postleitzahl:</h7>
									<div class="form-group">
										<input type="number" id="zip" class="form-control" name="zip"
											required autofocus placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i
										class="fa fa-map-marker mr-2" aria-hidden="true"></i>Stadt:</h7>
									<div class="form-group">
										<input type="text" id="city" class="form-control" name="city"
											required autofocus placeholder=" Bitte ausfüllen... ">
									</div>

									<h7 style="color: #666666"> <i class="fa fa-home mr-2"
										aria-hidden="true"></i>Adresse:</h7>
									<div class="form-group">
										<input type="text" id="address" class="form-control"
											name="address" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>
									<h7 style="color: #666666"> <i class="fa fa-phone mr-2"
										aria-hidden="true"></i>Telefonnummer:</h7>
									<div class="form-group">
										<input type="text" id="phone" class="form-control"
											name="phone" required autofocus
											placeholder=" Bitte ausfüllen... ">
									</div>
							</div>
							<div class="row text-center py-4 center-block">
								<button class="btn btn-cyan" type="submit">
									<i class="fa fa-send mr-3"></i>Registrieren
								</button>
								<a th:href="@{/login}" class="btn btn-danger"><i
									class="fa fa-ban mr-3" aria-hidden="true"></i>Abbrechen</a>
							</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

