<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" th:action="@{/signUp}" method="post">
					<h2 class="form-signin-heading">Welcome</h2>

					<!--  Error message ----------------------------------------------------------- -->
					<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
						class="alert alert-danger" role="alert"></div>
					<!--  Error message ----------------------------------------------------------- -->

					<!--   message ----------------------------------------------------------- -->
					<div th:unless="${message} == null" th:utext="${message}"
						class="alert alert-success" role="warning"></div>
					<!--   message ----------------------------------------------------------- -->

					<!-- Username -->
					<div class="form-group">
						<label for="inputUser" class="col-md-2 control-label">Username</label>
						<div class="col-md-10">
							<input type="text" id="username" class="form-control"
								placeholder="Username" required autofocus name="username">
						</div>
					</div>

					<!-- Password1 -->
					<div class="form-group">
						<label for="inputPassword" class="col-md-2 control-label">Password</label>
						<div class="col-md-10">
							<input type="password" id="password" class="form-control"
								placeholder="Password" required name="password">
						</div>
					</div>

					<!-- Password2 -->
					<div class="form-group">
						<label for="inputPassword2" class="col-md-2 control-label">Confirm
							Password</label>
						<div class="col-md-10">
							<input type="password" id="password2" class="form-control"
								placeholder="Confirm Password" required name="password2">
						</div>
					</div>

					<!-- First Name -->
					<div class="form-group">
						<label for="inputFirstName" class="col-md-2 control-label">First
							name</label>
						<div class="col-md-10">
							<input type="text" id="firstName" class="form-control"
								placeholder="First Name" required name="firstName">
						</div>
					</div>

					<!-- Surname -->
					<div class="form-group">
						<label for="inputSurName" class="col-md-2 control-label">Surname</label>
						<div class="col-md-10">
							<input type="text" id="surName" class="form-control"
								placeholder="Surname" required name="surName">
						</div>
					</div>

					<!-- Day of Birth -->
					<div class="form-group">
						<label for="inputDayOfBirth" class="col-md-2 control-label">Day
							of birth</label>
						<div class="col-md-10">
							<input type="date" id="date" class="form-control" required
								name="date">
						</div>
					</div>

					<!-- E-Mail -->
					<div class="form-group">
						<label for="inputEmail" class="col-md-2 control-label">E-Mail</label>
						<div class="col-md-10">
							<input type="text" id="email" class="form-control"
								placeholder="E-Mail" required name="email">
						</div>
					</div>

					<!-- Zip -->
					<div class="form-group">
						<label for="inputZip" class="col-md-2 control-label">ZIP</label>
						<div class="col-md-10">
							<input type="number" id="zip" class="form-control"
								placeholder="ZIP" required name="zip">
						</div>
					</div>

					<!-- City -->
					<div class="form-group">
						<label for="inputUser" class="col-md-2 control-label">City</label>
						<div class="col-md-10">
							<input type="text" id="city" class="form-control"
								placeholder="City" required name="city">
						</div>
					</div>

					<!-- Address -->
					<div class="form-group">
						<label for="inputAddress" class="col-md-2 control-label">Address</label>
						<div class="col-md-10">
							<input type="text" id="address" class="form-control"
								placeholder="Address" required name="address">
						</div>
					</div>

					<!-- Phone -->
					<div class="form-group">
						<label for="inputPhone" class="col-md-2 control-label">Phone</label>
						<div class="col-md-10">
							<input type="text" id="phone" class="form-control"
								placeholder="Phone" required name="phone">
						</div>
					</div>




					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Sign up</button>
				</form>
			</div>
		</div>
</body>
</html>
