<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSSRelative}" />
</head>
<body class="grey lighten-3">
	<div class="row mt-5">
		<div class="center-block col-md-6 mb-4">
			<div class="card">
				<div class="card-body">

					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" method="post"
								th:action="@{/adopt/new}">
								<fieldset>
									<legend class="py-4 text-center" style="color: #0066ff;">
										<h3>Adoptionsantrag</h3>
									</legend>

									<input type="hidden" th:value="${animal.id}" name="id" />
									<!-- --------------  name ---------------- -->
									<div class="form-group">
										<label for="inputName" class="col-md-12 control-label">Tiername:
										</label>
										<div class="col-md-12">
											<input class="form-control" id="inputName" type="text"
												name="name" th:value="${animal.name}" required="required"
												readonly>
										</div>
									</div>
									<br>
									<!-- Day -->
									<div class="form-group col-md-12">
										<p style="text-align: justify; font-style: italic;">Hiermit
											bestätige ich, dass ich alle meine Angaben den Tatsachen
											entsprechen und ich die volle Verantwortung für das oben
											genannte Tier übernehmen möchte. Ich bin mir darüber im
											Klaren, dass ich eine artgerechte Untebringung und Behandlung
											des Tieres zu sorgen habe.</p>
									</div>

									<hr>
									<div class="form-group">
										<div class="row text-center center-block">
											<button type="submit"
												class="btn btn-primary font-weight-bold">
												<i class="fa fa-lg fa-thumbs-o-up mr-2" aria-hidden="true"></i>Bestätigen
											</button>

											<a class="btn btn-danger font-weight-bold"
												th:href="@{/animal/profile(id=${animal.id})}"> <i
												class="fa fa-lg fa-thumbs-o-down mr-2 font-weight-bold"
												aria-hidden="true"></i>Abbrechen
											</a>
										</div>
									</div>

								</fieldset>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>



