<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSSRelative}" />
</head>

<body class="grey lighten-3">

       <!--Main Navigation-->
       <header>

             <!-- Sidebar -->
             <div th:replace="~{includes/sideNav :: side(actual='petbook')}"></div>
             <!-- Sidebar -->

             <!-- Navbar -->
             <nav th:replace="~{includes/searchNav :: search}"></nav>
             <!-- Navbar -->

       </header>
       <!--Main layout-->


       <main class="pt-2 mx-lg-5">
       <div class="container-fluid mt-5">
             <div class="card mb-4 wow fadeIn p-5">
                    <div class="row col-md-12 center-block py-3">
                          <div class="row">
                                 <div class="col-md-12 mb-6">
                                       <a class="btn btn-outline-warning waves-effect" th:href="@{profile(id=${animal.id})}"  style="float: right;">
                                       <i class="fa fa-lg fa-arrow-circle-left mr-2" style="color:#ff8800" aria-hidden="true"></i>Zurück zum Profil</a>
                                       <!-- Titel -->
                                       <h1>Bildergalerie</h1>
                          </div>
                    </div>
                    <hr>
                    <div class="col-md-12 center-block">
                          <div class="row">
                                 <div class="mb-4 col-md-4">
                                       <div class="card">
                                              <!--Card image-->
                                              <div class="view overlay">
                                                    <img class="card-img-top"
                                                           th:src="@{profileImage(id=${animal.id})}" alt="Card image cap"
                                                           onerror="this.src='../resources/default.jpg'"> <a
                                                           th:href="@{profile(id=${animal.id})}">
                                                           <div class="mask rgba-white-slight"></div>
                                                    </a>
                                              </div>

                                              <!--Card content-->
                                              <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title">Name</h4>
                                                    <!--Buttons-->
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                           <a class="btn btn-info font-weight-bold">Bestätigen</a> 
                                                           <a class="btn btn-warning font-weight-bold">Löschen</a></div>
                                                           <br>
                                                    <div class="row py-0.5">
                                                           <a class="btn btn-primary font-weight-bold center-block">Als Profilbild wählen</a> 
                                                    </div>
                                                    </div>
                                              </div>
                                       </div>
                                 </div>
                          </div>
                    </div>
             </div>
       </div>
       </main>
       <footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>

