<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSSRelative}" />
</head>

<body class="grey lighten-3">

	<!--Main Navigation-->
	<header>

		<!-- Sidebar -->
		<div th:replace="~{includes/sideNav :: side(actual='petbook')}"></div>
		<!-- Sidebar -->

		<!-- Navbar -->
		<nav th:replace="~{includes/searchNav :: search}"></nav>
		<!-- Navbar -->

	</header>
	<!--Main layout-->

	<main class="pt-2 mx-lg-5">
	<div class="container-fluid mt-5">
		<div class="card mb-4 wow fadeIn p-5">

			<div>
				<!--  Error message ----------------------------------------------------------- -->
				<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
					class="alert alert-danger" role="alert"></div>
				<!--  Error message ----------------------------------------------------------- -->

				<!--  Warning message ----------------------------------------------------------- -->
				<div th:unless="${warningMessage} == null"
					th:utext="${warningMessage}" class="alert alert-warning"
					role="warning"></div>
				<!--  Warning message ----------------------------------------------------------- -->

				<!--   message ----------------------------------------------------------- -->
				<div th:unless="${message} == null" th:utext="${message}"
					class="alert alert-success" role="warning"></div>
				<!--   message ----------------------------------------------------------- -->
			</div>


			<div class="col-md-12 center-block">
				<div class="row">
					<div class="col-3">
						<a th:href="@{/animal/profileImage(id=${animal.id})}"
							class="logo waves-effect pb-4"> <img
							th:src="@{/animal/profileImage(id=${animal.id})}"
							onerror="this.src='../resources/default.jpg'"
							class="img-thumbnail" style="width: 100%; height: 100%;" alt="">
						</a>
						<div class="button-group">
							<a th:href="@{/animal/upload(id=${animal.id})}"
								class="btn btn-block btn-primary mb-2" sec:authorize="hasRole('EMPLOYEE')"><i
								class="fa fa-upload mr-3"></i>Bild hochladen </a>
								
								 <a
								th:href="@{/animal/images(id=${animal.id})}"
								class="btn btn-block btn-primary mb-2" sec:authorize="hasRole('EMPLOYEE')"><i
								class="fa fa-file-image-o mr-3"></i>Bilder ändern </a> 
								
								<a
								th:href="@{/calendar/animal(id=${animal.id})}"
								class="btn btn-block btn-primary mb-2"><i
								class="fa fa-calendar mr-3"></i>Termin buchen </a> 
								
								<a
								th:href="@{/adopt/new(id=${animal.id})}"
								class="btn btn-block btn-primary mb-2"><i
								class="fa fa-file-text-o mr-3"></i>Adoption starten </a> <br> 
								
								<a
								th:href="@{/animal/edit(id=${animal.id})}"
								class="btn btn-block btn-primary mb-2" sec:authorize="hasRole('EMPLOYEE')"><i
								class="fa fa-pencil mr-3"></i>Profil bearbeiten </a>

							<table class="table table-user-information">
								<tbody>
									<tr th:each="ac : ${acs}">
										<td th:text="${ac.name}">Name AC</td>
										<td><i class="fa fa-check-square-o fa-lg"
											aria-hidden="true"></i></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					<div class="col-7">
						<table class="table table-user-information">
							<h3 th:text="${animal.name}">Name</h3>
							<br>
							<tbody>
								<tr>
									<td>ID:</td>
									<td th:text="${animal.id}"></td>
								</tr>
								<tr>
									<td>Name:</td>
									<td th:text="${animal.name}"></td>
								</tr>
								<tr>
									<td>Tierart:</td>
									<td th:text="${animal.species.name} + ' / ' + ${animal.gender}"></td>
								</tr>
								<tr>
									<td>Rasse:</td>
									<td th:text="${animal.breed}"></td>
								</tr>

								<tr>
								<tr>
									<td>Farbe:</td>
									<td th:text="${animal.color}"></td>
								</tr>
								<tr>
									<td>Alter:</td>
									<td th:text="${animal.age}"></td>
								</tr>
								<tr>
									<td>Kastriert</td>
									<td><i class="fa fa-check-square-o fa-lg"
										aria-hidden="true" th:if="${animal.castrated}"></i></td>
								</tr>
								<tr>
									<td>Gechippt</td>
									<td><i class="fa fa-check-square-o fa-lg"
										aria-hidden="true" th:if="${animal.chipped}"></i></td>
								</tr>
								<tr>
									<td>Impfungen:</td>
									<td><div th:each="vaccination : ${vaccinations}">
											<span th:text="${vaccination.name}"></span>
										</div></td>
								</tr>
								<tr>
									<td>Beschreibung:</td>
									<td th:text="${animal.description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr>
					<div class="col-2">
						<a th:href="@{/animal/favourite(id=${animal.id})}"
							class="btn btn-sm btn-warning text-center float-right"><i
							class="fa fa-star mr-3"></i>Favorit</a>
					</div>
					<div class="container-fluid mt-5">
						<div class="card mb-4 wow fadeIn pt-3"
							style="background-color: #ffac4d">
							<div class="col-md-12 center-block">
								<h4 style="color: white">
									<b> Fotografien: </b>
								</h4>
								<hr>
								<div class="row">

									<div class="col-3" th:each="image : ${images}"
										th:if="${!image.profile}">
										<a th:href="@{/animal/image(id=${image.id})}"
											class="logo waves-effect pb-2"> <img
											th:src="@{/animal/image(id=${image.id})}"
											onerror="this.src='../resources/default.jpg'"
											class="img-thumbnail" style="width: 100%; height: 100%;"
											alt="">
										</a>
									</div>
								</div>

							</div>



						</div>

					</div>
				</div>
			</div>
		</div>
	</div>s
	</main>
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>


