<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Walkie-Doggie</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSSRelative}" />
</head>
<body class="grey lighten-3">
	<div class="row mt-5">
		<div class="center-block col-md-6 mb-4">
			<div class="card">
				<div class="card-body">

					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" enctype="multipart/form-data"
								method="post" th:action="@{/animal/upload}">
								<fieldset>
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
									<legend class="pb-4 ml-3 text-center"
										style="color: #0066ff; font-weight: bold;"
										th:text="'Bild für ' + ${animal.name} + ' hochladen'"></legend>

									<input type="hidden" name="id" th:value="${animal.id}">

									<div class="text-center">
										Wählen Sie ein Bild von Ihrem lokalen Speicher aus<br>
										und laden Sie dieses auf Walkie-Doggie hoch!
									</div>
									<hr>

									<div class="form-group">
										<label for="inputFile" class="col-md-10 control-label"><h6>Datei:</h6></label>
										<div class="col-md-12 pb-4">
											<input class="form-control" id="inputFile" type="file"
												name="myFile" accept="image/*">
										</div>
									</div>
									<hr>
									<div class="form-group">
										<div class="row text-center center-block">
											<button type="submit" class="btn btn-primary">
												<i class="fa fa-upload mr-2" aria-hidden="true"></i>Hochladen
											</button>
											<a th:href="@{/animal/profile(id=${animal.id})}"
												class="btn btn-danger"> <i class="fa fa-ban mr-2"
												aria-hidden="true"></i>Abbrechen
											</a>
										</div>
									</div>

								</fieldset>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>

